<h1>Rents</h1>
<ul>
  <% @rents.each do |rent| %>
    <% if policy(rent).show? %>
      <%= image_cloudinary_tag(rent.product)%>
      <%= link_to rent.product.name , product_rent_path(rent.product, rent), class: "article_rent" %> request by
       <%= rent.user.first_name %>
       <%= rent.user.last_name %>
    <% end %>
  <% end %>
</ul>
