<h1>Rents List</h1>
<ul>
  <% @rents.each do |rent| %>
    <% if policy(rent).show? %>
      <li><%= link_to rent.product.name , product_rent_path(rent.product, rent) %> request by
       <%= rent.user.first_name %>
       <%= rent.user.last_name %>
       </li>
    <% end %>
  <% end %>
</ul>
