<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://admin.acceleratingscience.com/metals/wp-content/uploads/sites/4/2017/02/iStock-157400291_goldjewelrythickcard.jpg);">
  <div class="container">
    <h1>Gold Rental</h1>
    <h2>Your time to shine</h2>
  </div>
</div>
