.article_rent {
  color: black;
  padding: 3px 3px;
  border-radius: 4px;
  background: #d3cecb;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-decoration: none;
}

.article_rent:hover {
  background: #d3cecb;
  color: black;
}
