.card-product {
  overflow: hidden;
  height: 500px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 20px;
}

.card-rent {
  display: flex;
  align-items: center;
  background: white;
  height: 125px;
  border-radius: 30px;
}

.product-rent {
  height: auto !important;
}

.avatar {
  overflow: hidden;
  height: 25px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 50%;
}

.card-product img {
  height: 350px;
  width: 350px;
  align-items: center;
  object-fit: cover;
  border-radius: 50%;
  justify-items: center;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 15px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.img-show {
  margin-right: 16px;
  margin-right: 10px;
  width: 400px;
  height: 400px;
}
