<h1>Products List</h1>
<ul>
  <% @products.each do |product| %>
    <li><%= link_to product.name, product_path(product) %></li>
  <% end %>
</ul>

<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dj3nqzpwh/image/upload/v1669207227/iyez9rheoq2090maci9s.png)">
    Product 1
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dj3nqzpwh/image/upload/v1669207227/iyez9rheoq2090maci9s.png)">
    Product 2
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dj3nqzpwh/image/upload/v1669207227/iyez9rheoq2090maci9s.png)">
    Product 3
  </div>
</div>

<%= link_to "New Product", new_product_path %>

